<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
        
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home:index' %}">
            <span class="fs-4 fw-bold">HealthTrack</span>
            </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home:index' %}">Inicio</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'habitos:registro_habito' %}">Mis Hábitos</a>
                    </li>
                    <!-- Nueva logica-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'habitos:crear_habito' %}">Hábitos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:index' %}">Mi Progreso</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:index' %}">Panel Profesional</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_panel:dashboard' %}">Panel Admin</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>